<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>
</head>
<body>


<h3><b>Udało ci się ukończyć ankietę.Dziękujemy!</b></h3>
</br>
Odpowiedzie które udzielili ankietujący:


    <li th:each="answer:${answers}" >
        <p><b>Czy jest pani/pan zadowalona z świadczonych usług?: </b><span th:text="${answer.getAnswer1()}"></span></p>
    <p><b>Czy występują jakieś problemy ?:</b><span th:text="${answer.getAnswer2()}"></span></p>
      <b>  <p>Co należało by poprawić aby polepszyć nasze usługi?:</b> <span th:text="${answer.getAnswer3()}"></span></p>

</li>


</body>
</html>